@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&display=swap');

* {
    margin: 0 auto;
    padding: 0;
}

body {
    font-family: 'Sawarabi Gothic', sans-serif;
    text-align: center;
    color: #424242;
}

header {
    padding: 3rem 0;
    background: #303f9f;
    color: #ffffff;
    border: #303f9f 1px solid;
    position: relative;
    z-index: 10;
    box-shadow: 0 1px 3px #212121;
}

header a {
    text-decoration: none;
    color: #ffffff;
}

main {
    padding: 4rem 0;
    background: #e2f1f8;
}

main #main-label {
    padding: 2rem 0;
}

main .error {
    color: #ef5350;
}

main .box {
    padding: 4rem 0;
    width: 30%;
    background: #cfd8dc;
    border: #cfd8dc 1px solid;
    border-radius: 1rem;
}

@media only screen and (max-width: 768px) {
    main .box {
        width: 80%;
  }
}

main .input {
    padding: 0.5rem 0 0.5rem 1.5rem;
    margin: 0.5rem auto;
    width: 80%;
    border-radius: 1rem;
    border: #cfd8dc 1px solid;
}

main .input:focus {
    outline: 0 !important;
    border: #6f79a8 1px solid;
}

main .input:active {
    border-radius: 1rem;
    border: #d1d9ff 1px solid;
}

main #submit-button {
    width: 40%;
    background: #6f79a8;
    padding: 1rem 0;
    margin: 1rem 0 0;
    border: 0px solid #fff;
    font-family: 'Sawarabi Gothic', sans-serif;
    border-radius: 1rem;
}

main #result {
    padding: 2rem 0;
    margin: 2rem auto 0;
    width: 40%;
    border: #6f79a8 solid 2px;
}

#bmi, #description {
    margin: 0;
    padding: 0;
}

footer {
    padding: 4rem 0;
    background: #001970;
    color: #ffffff;
}

footer a {
    color: #ffffff;
    text-decoration: none;
}