<footer>
    <div id="footer-left">
        <p>シナンバン・ユージン</p>
        <p>プログラマー専攻2年生</p>
        <p>19d2030010</p>
    </div>
    <div id="footer-right">
        <p><a href="https://twitter.com/codejunkie21">フォローお願いします！</a></p>
    </div>
</footer>