<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>BMI Calculator</title>
</head>
<body>
    <header></header>
    <main>
        Figure out your BMI in seconds!

        <form action="#" method="get">
            <input type="number" placeholder="Height in centimeters" name="height">
            <input type="number" placeholder="Weight in kilograms" name="weight">
            <input type="submit" value="">
        </form>
    </main>
    <footer></footer>
</body>
</html>