<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>BMI Calculator</title>
</head>
<body>
    <header>
        <h3 id="title">
            BMI Calculator
        </h3>
    </header>
    <main>
        <h3 id="main-label">Figure out your BMI in seconds!</h3>

        <form action="#" method="get">
            <input type="number" placeholder="Height in centimeters" name="height" id="height" class="input">
            <input type="number" placeholder="Weight in kilograms" name="weight" id="weight" class="input">
            <input type="submit" value="Submit" id="submit-button">
        </form>
        <div id="result">
            <h5 id="bmi">{{ bmi ?? 'Complete above field!'}}</h5>
            <h5 id="description">{{ description }}</h5>
        </div>
    </main>
    {% include "./includes/footer.twig" %}
</body>
</html>